body {
  margin: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #212121;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #bb86fc;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: #506460 .1rem solid;
  margin-bottom: 1rem;
}

nav a {
  border-radius: .5rem .5rem 0 0;
  border: #506460 .1rem solid;
  border-bottom: 0;
  padding: 1rem;
}

.HistoricalQuestions{
  line-height: 1.2em;
}

.HistoricalQuestions li {
  margin-top: 1.5em;
}


